@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 18%, 97%);
}

/* mexendo nos links*/
.itens a {
  color: #fff;
  text-decoration: none;
  transition: 0.1s;
  padding: 10px 10px;
}

.itens a:hover {
  color:#ddd;
  transition: 0.5s;
}

/*barra de navegação */
#logo {
  margin-top: 7px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family:"Kanit", sans-serif;
  font-size:large;
  background-color: #0d6efd;
  height: 13vh;
  z-index: 9999;
  transition: top 0.3s;
  width: 100%;
}

.itens {
  list-style: none;
  display: flex;
}

.itens li {
  letter-spacing: 1px;
  margin-left: 1px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-bottom: 0;
}

/* tabela*/

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.tabela{
  overflow-x: auto;
}
h2 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px; /* Arredondar as bordas da tabela */
  overflow: hidden; /* Esconde bordas arredondadas */
}

th, td {
  border: none;
  padding: 10px;
  font-family:"Poppins", sans-serif;
  text-align: center;
}

th {
  background-color:white;
}

tr{
  background-color: white;
}

tr:hover {
  background-color: #ddd;
}


form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  cursor: pointer;
}

/*Página Crianças*/
